<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc360.tool" >

    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService.com.abc360.tool" />

    <permission
        android:name="getui.permission.GetuiService.com.abc360.tool"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data android:name="PUSH_APPID" android:value="4j0Aykb1Uy5rzeclLoJM4" />
        <meta-data android:name="PUSH_APPSECRET" android:value="AtwSCIOBfp93VTwp3G9Nj" />
        <meta-data android:name="PUSH_APPKEY" android:value="4DcZWlUIa18aRrW8o5jtLA" />
        <meta-data android:name="PUSH_GROUPID" android:value="" />

        <!--配置SDK核心服务-->
        <service android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity android:name="com.igexin.sdk.PushActivity"
            android:process=":pushservice"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:excludeFromRecents="true"
            android:exported="false">
        </activity>

        <!-- 配置第三方Receiver -->
        <receiver
            android:name="com.abc360.tool.Receivers.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <!-- 替换为action android:name="com.igexin.sdk.action.第三方应用APPID" -->
                <action android:name="com.igexin.sdk.action.4j0Aykb1Uy5rzeclLoJM4" />
            </intent-filter>
        </receiver>

        <!-- 配置弹框activity -->
        <activity android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:process=":pushservice"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />
        <receiver android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>
                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改  -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.4j0Aykb1Uy5rzeclLoJM4" />
            </intent-filter>
        </receiver>
        <service android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />

        <!-- 个推download模块配置-->
        <service android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />
        <receiver
            android:exported="false" android:name="com.igexin.download.DownloadReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider android:name="com.igexin.download.DownloadProvider"
            android:process=":pushservice"
            android:authorities="downloads.com.abc360.tool"/>
        <!-- android:authorities="downloads.第三方包名" -->
        <!-- ====================================================== -->


        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.CouresDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.CourseSelectionActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.ResultsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.ReservationFormCidActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.ReservationFormDetaActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.CheckTeacherActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.FavoritesActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Activity.CouresSoftwaveActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.ForgetActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.NoteActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.AcoinLogActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.FirstStartActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.LeaveActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.AflActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.BindingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.SearchForBindingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.ResultsForBindingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Activity.ReservationForBindingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>
